/*all*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*links*/
a{
  text-decoration: none;
  color: red;
}

/*homepage images*/
#banner1{
  width: 100%;
}

#listDiv{
  height: 1000;
  width: max-content;
}